@keyframes slideUp {
  from {
    top: 100%;
  }

  to {
    top: 0;
  }
}
.modal__container {
  position: fixed;
  top: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 24px;
  /* Glass Effect */
  background: rgba(16, 44, 87, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  animation-name: slideUp;

  animation-duration: 0.5s;
}
.modal {
  position: relative;
  width: 100%;
  max-width: 960px;
  height: 75vh;
  max-height: 768px;
  padding: 36px 24px;
  background: rgba(16, 44, 87, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-icon {
  position: absolute;
  top: -12px;
  right: -12px;
  display: grid;
  place-items: center;
  width: 36px;
  height: 36px;
  background-color: var(--secondary-color);
  border-radius: 9999px;
  box-shadow: 0 0 4px var(--neutral-50);

  transition: all 0.2s;
}
.modal-icon:hover {
  cursor: pointer;
  width: 38px;
  height: 38px;
}

.modal-icon svg {
  fill: var(--neutral-50);
}
